/* Font import */
@font-face {
    font-family: myFont1;
    src: url(ZeykoCrew-rvxq9.ttf);
}

/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    background: #f8f7fe;
    /* font-family: "Shadows Into Light", cursive; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Corrected typo from 100dvh to 100vh */
}

/* Main container */
.main-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    position: relative;
}

/* Heading styles */
#headin{
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.7rem;
    font-family: myFont1;
}
#headin span:nth-child(1) {
    color: #ff686b;
}
#headin span:nth-child(2) {
    color: #84dcc6;
}
.container-wrapper{
  height: 60vh;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Game container styles */
.game-container, .msg-container{
    height: 100%;
    width: 100%;
    margin: auto;
}

/* Container (grid) styles */
.container {
  height: 100%;
  width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

/* Box styles */
.box {
    border: 6px solid #47494b;
    font-family: "Gluten", cursive;
    font-size: 5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hide{
    display: none !important;
}

/* Box border styles */
.toggle {
    border: 4px solid #f8f7fe;
}

.br-0 {
    border-right: none;
}

.bl-0 {
    border-left: none;
}

.bt-0 {
    border-top: none;
}

.bb-0 {
    border-bottom: none;
}
.msg-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.winner-wrapper{
  position: relative;
}
#winnertext {
    color: #d67400;
    text-transform: uppercase;
    font-family: "Gluten", cursive;
    font-size: 3.0rem;
    font-weight: 800;
}
#msg{
    color: rgb(87, 200, 140);
    text-transform: lowercase;
    font-family: "Gluten", cursive;
    font-size: 10rem;
    top: 35px;
     /* width: 100%; */
    height: fit-content;
    position: absolute;
}

/* Trophy styles */
#trophy {
    color: #d67400;
    align-self: center;
    object-fit: contain;
    width: 60%;
    height: 60%;
    /* width: 16rem;
    height: 8rem; */
}

/* Navbar styles */
#navbar {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
}
.icon{
  /* height: 24px;  */
  width: 24px;
}
.icon i{
  height: 100% !important;
  width: 100% !important; 
}

#res-btn {
    cursor: pointer;
    color: white;
    font-size: 2rem;
}

#timehere {
    font-size: 22px;
}

#togglebutton {
    font-size: 2.5em;
    font-weight: 900;
    color: rgb(17, 16, 16);
    cursor: pointer;
}
@media screen and (max-width: 720px) {
  .container-wrapper{
    height: 40vh;
  }
  #msg{
    top: 15%;
  }
}
@media screen and (max-width: 400px) {
  .container-wrapper{
    height: 35vh;
  }
  #msg{
    top: 10px;
    font-size: 8rem;
  }
  .box{
    font-size: 4rem;
  }
}