
*{
    margin: 0;
    padding: 0;
}
body{
    background: #fff;
    text-align: center;
}
.msg-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.hide{
    display: none;
}
#msg{
    color: rgb(193, 137, 34);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 800;
}
h1{
    margin: 50px;
    font-size: 45px;
    color:"black"; 
}
#headin span:nth-child(1){
    color: rgb(44, 146, 71);
}
#headin span:nth-child(2){
    color: rgb(57, 87, 193);
}
#headin span:nth-child(3){
    color: red;  
}
#new-btn {
    color: rgb(8, 8, 8);
    background-color: rgb(216, 208, 200);
    border-radius: 10px;
    padding: 15px 18px;
    cursor: pointer;
    font-weight: 500;
    border: none;
    font-size: 20px;
}

#new-btn:hover {
    background-color: #a7a5a5;
    box-shadow: 0 0 5px rgba(87, 84, 84, 0.27);
}
#reset-btn {
    color: rgb(8, 8, 8);
    background-color: rgb(216, 208, 200);
    border-radius: 10px;
    padding: 12px 18px;
    cursor: pointer;
    border: none;
    font-size: 20px;
}

#reset-btn:hover {
    background-color: #a7a5a5;
    box-shadow: 0 0 5px rgba(87, 84, 84, 0.27);
}
.gameContainer{
    display: flex;
    justify-content: center;
}
.container{
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family: 'Roboto', sans-serif;
    position: relative;
}
#navbar{
    padding: 10px;
    font-size: 28px;
    position: fixed;
    display: flex;
    align-items: center;
    gap: 50px;
    right: 0;
    top: 0;
    margin: 20px;
    margin-right: 80px;
    margin-top: 35px;
}
#togglebutton {
    font-size: 45px;
    font-weight: 900; 
    color: rgb(17, 16, 16); 
    cursor: pointer;  
  }
.box{
    border: 4px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.toggle{
    border: 4px solid white ;
}
.br-0{
    border-right: none;
}
.bl-0{
    border-left: none;
}
.bt-0{
    border-top: none;
}
.bb-0{
    border-bottom: none;
}
