:root {
  --body-color: #47494b;
  --border-color: #f8f7fe;
  --hover-color: #47494bbe;
  --text-color: #fff;
  --red-color: #ff686b;
  --green-color: #84dcc6;
}
/* import font for modal  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
  font-family: appFont;
  src: url(ZeykoCrew-rvxq9.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: appFont;
  background-color: var(--body-color) !important;
  transition: all 0.5s ease;
}
.red-color {
  color: var(--red-color);
}
.green-color {
  color: var(--green-color);
}
.hide {
  display: none !important;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  gap: 40px;
  max-width: 55vh;
  margin: auto;
  color: var(--text-color);
}
.main-container .game-title {
  font-size: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.7rem;
}

.game-container {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 55vh;
  width: 55vh;
}
.game-container .game-over {
  font-size: 3rem;
  font-family: 'Mochiy Pop One', cursive;
  font-weight: 500;
  color: var(--red-color);
}
.game-container .board-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--border-color);
}
.game-container .game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
  height: 100%;
}
.game-container .game-board .box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  font-weight: 700;
  font-family: 'Gluten', cursive;
  background-color: var(--body-color);
  /* border: 6px solid #47494b; */
  cursor: pointer;
  transition: all 0.5s ease;
}

.game-container .game-result {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}
.game-container .game-result #winnertext {
  font-family: 'Gluten', cursive;
  color: #FFA600;
  width: fit-content;
  text-transform: uppercase;
  font-size: 3rem;
}
.game-container .game-result .winner-wrapper {
  position: relative;
  height: 70%;
  width: 70%;
}
.game-container .game-result .winner-wrapper #trophy {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.game-container .game-result .winner-wrapper #winner {
  position: absolute;
  top: 0%;
  left: 50%;
  font-size: 8rem;
  transform: translate(-50%, -50%);
  font-family: 'Gluten', cursive;
  color: var(--green-color);
}
.main-container .game-buttons {
  display: flex;
  gap: 50px;
  margin-top: 20px;
  justify-content: center;
  position: relative;
}
.game-buttons .fa {
  font-size: 36px;
  cursor: pointer;
  color: #C2CCCE;
}

/* css modal  */

.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
.modal-content{
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1px;
  color: #a1a1a1;
  font-size: 14px;
  font-weight: 400;
}

.modal {
  background-color: #ede7e7;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  max-width: 480px;
  border-radius: 5px;
  position: relative;
}
.modal-body{
  text-align: center;
  text-align: justify;
  padding: 10px;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 32px;
  font-weight: 600;
  cursor: pointer;
  color: #615b5b;
}
#modal-close:hover{
  font-size: 31px;
}
.btn {
  padding: 8px 16px;
  margin: 0 5px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
}
#modal-toggle{
  position: absolute;
  cursor: pointer;
  font-size: 20px;
  right: 0;
  bottom: 0;
  margin: 30px;
}




@media screen and (max-width: 768px) {
  .main-container {
    max-width: 100%;
  }
  .container .game-title {
    font-size: 2rem;
    letter-spacing: 0.5rem;
  }
  .game-container {
    height: 45vh;
    width: 45vh;
  }
  .game-container #game-over {
    font-size: 2.5rem;
  }
  .game-container .game-board .box {
    font-size: 1.5rem;
  }
  .game-container .game-result #winnertext {
    font-size: 2.5rem;
  }
  .game-container .game-result .winner-wrapper #winner {
    font-size: 6rem;
  }
  .game-buttons .fa {
    font-size: 30px;
  }
}
@media only screen and (max-width: 600px) {
  .main-container .game-title {
    font-size: 2.8rem;
    letter-spacing: 0.5rem;
  }
  .game-buttons .fa {
    font-size: 40px;
  }
  .game-container .game-board .box {
    font-weight: 500;
    font-size: 6rem;
    font-family: 'Gluten', sans-serif;
  }
  .game-container .game-result #winnertext {
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: 'Gluten', sans-serif;
  }
  .game-container .game-result .winner-wrapper #winner{
    font-family: 'Gluten', sans-serif;
    font-size: 6rem;
  }
}
